// #region Width utilities

    .w-full { width: 100%; }
    .w-90{ width: 50%; }
    .w-80{ width: 50%; }
    .w-70{ width: 50%; }
    .w-60{ width: 50%; }
    .w-50{ width: 50%; }
    .w-40{ width: 50%; }
    .w-30{ width: 50%; }
    .w-20{ width: 50%; }
    .w-10{ width: 50%; }
// #endregion

// #region Flex utilities

    .flex { display: flex; }

    .flex-row { flex-direction: row; }

    .space-between { justify-content: space-between; }
    .space-around { justify-content: space-around; }
    .space-evenly { justify-content: space-evenly; }
    .flex-center { justify-content: center; }
    .flex-start { justify-content: flex-start; }
    .flex-end { justify-content: flex-end; }

    .grow { flex-grow: 1; }

    .gap-1 { gap: 0.25rem; }
    .gap-2 { gap: 0.5rem; }
    .gap-3 { gap: 0.75rem; }
    .gap-4 { gap: 1rem; }
    .gap-5 { gap: 1.25rem; }
    .gap-6 { gap: 1.5rem; }
    .gap-7 { gap: 1.75rem; }
    .gap-8 { gap: 2rem; }
    .gap-9 { gap: 2.25rem; }
    .gap-10 { gap: 2.5rem; }
// #endregion

// #region Paddings

    .p-1 { padding: 0.25rem; }
    .p-2 { padding: 0.5rem; }
    .p-3 { padding: 0.75rem; }
    .p-4 { padding: 1rem; }
    .p-5 { padding: 1.25rem; }
    .p-6 { padding: 1.5rem; }
    .p-7 { padding: 1.75rem; }
    .p-8 { padding: 2rem; }
    .p-9 { padding: 2.25rem; }
    .p-10 { padding: 2.5rem; }

    .px-1 { padding: 0 0.25rem 0 0.25rem; }
    .px-2 { padding: 0 0.5rem 0 0.5rem; }
    .px-3 { padding: 0 0.75rem 0 0.75rem; }
    .px-4 { padding: 0 1rem 0 1rem; }
    .px-5 { padding: 0 1.25rem 0 1.25rem; }
    .px-6 { padding: 0 1.5rem 0 1.5rem; }
    .px-7 { padding: 0 1.75rem 0 1.75rem; }
    .px-8 { padding: 0 2rem 0 2rem; }
    .px-9 { padding: 0 2.25rem 0 2.25rem; }
    .px-10 { padding: 0 2.5rem 0 2.5rem; }

    .py-1 { padding: 0.25rem 0 0.25rem 0; }
    .py-2 { padding: 0.5rem 0 0.5rem 0; }
    .py-3 { padding: 0.75rem 0 0.75rem 0; }
    .py-4 { padding: 1rem 0 1rem 0; }
    .py-5 { padding: 1.25rem 0 1.25rem 0; }
    .py-6 { padding: 1.5rem 0 1.5rem 0; }
    .py-7 { padding: 1.75rem 0 1.75rem 0; }
    .py-8 { padding: 2rem 0 2rem 0; }
    .py-9 { padding: 2.25rem 0 2.25rem 0; }
    .py-10 { padding: 2.5rem 0 2.5rem 0; }
// #endregion

// #region Margins
    .m-1 { margin: 0.25rem; }
    .m-2 { margin: 0.5rem; }
    .m-3 { margin: 0.75rem; }
    .m-4 { margin: 1rem; }
    .m-5 { margin: 1.25rem; }
    .m-6 { margin: 1.5rem; }
    .m-7 { margin: 1.75rem; }
    .m-8 { margin: 2rem; }
    .m-9 { margin: 2.25rem; }
    .m-10 { margin: 2.5rem; }

    .mx-1 { margin: 0 0.25rem 0 0.25rem; }
    .mx-2 { margin: 0 0.5rem 0 0.5rem; }
    .mx-3 { margin: 0 0.75rem 0 0.75rem; }
    .mx-4 { margin: 0 1rem 0 1rem; }
    .mx-5 { margin: 0 1.25rem 0 1.25rem; }
    .mx-6 { margin: 0 1.5rem 0 1.5rem; }
    .mx-7 { margin: 0 1.75rem 0 1.75rem; }
    .mx-8 { margin: 0 2rem 0 2rem; }
    .mx-9 { margin: 0 2.25rem 0 2.25rem; }
    .mx-10 { margin: 0 2.5rem 0 2.5rem; }

    .my-1 { margin: 0.25rem 0 0.25rem 0; }
    .my-2 { margin: 0.5rem 0 0.5rem 0; }
    .my-3 { margin: 0.75rem 0 0.75rem 0; }
    .my-4 { margin: 1rem 0 1rem 0; }
    .my-5 { margin: 1.25rem 0 1.25rem 0; }
    .my-6 { margin: 1.5rem 0 1.5rem 0; }
    .my-7 { margin: 1.75rem 0 1.75rem 0; }
    .my-8 { margin: 2rem 0 2rem 0; }
    .my-9 { margin: 2.25rem 0 2.25rem 0; }
    .my-10 { margin: 2.5rem 0 2.5rem 0; }
// #endregion

// #region Text utilities
    .text-xs { font-size: 0.75rem; line-height: 1rem; }
    .text-sm { font-size: 0.875rem; line-height: 1.25rem; }
    .text-base { font-size: 1rem; line-height: 1.5rem; }
    .text-lg { font-size: 1.125rem; line-height: 1.75rem; }
    .text-xl { font-size: 1.25rem; line-height: 1.75rem; }
    .text-2xl { font-size: 1.5rem; line-height: 2rem; }
    .text-3xl { font-size: 1.875rem; line-height: 2.25rem; }
    .text-4xl { font-size: 2.25rem; line-height: 2.5rem; }
    .text-5xl { font-size: 3rem; line-height: 1rem; }
    .text-6xl { font-size: 3.75rem; line-height: 1rem; }
    .text-7xl { font-size: 4.5rem; line-height: 1rem; }
    .text-8xl { font-size: 6rem; line-height: 1rem; }
    .text-9xl { font-size: 8rem; line-height: 1rem; }
// #endregion