.card-container{


    &__card{
        border-radius: 0.6rem;
        padding-top: 100%;
        width: 100%;
        height: 0;

        &__link{
            display: inline-block;
            text-decoration: none !important;
            color: white;
            position: relative;
            bottom: 2rem;
            left: 1rem;
        
            &:focus, &:hover, &:visited, &:link, &:active {
                text-decoration: none !important;
            }
        }
    }  

    @media (min-width:768px) {
        &__card {
            padding-top: 30%;
        }
    }
}

.link {
    display: inline-block;
    text-decoration: none !important;
    color: white;
    position: relative;
    bottom: 2rem;
    left: 1rem;

    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none !important;
    }
}
