.card {
    border-radius: 0.6rem;
    padding-top: 100%;
    width: 100%;
}

@media (min-width:768px) {
    .card {
        padding-top: 30%;
    }
}

.link {
    display: inline-block;
    text-decoration: none !important;
    color: white;
    position: relative;
    bottom: 1rem;
    left: 1rem;

    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none !important;
    }
} 